.App {
  margin-top: 50px;
  height: 50vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container {
  display: inline;
  align-items: center;
}
.title {
  color: red;
  font-size: 50px;
  margin-bottom: 50px;
  position: relative;
  text-decoration: underline;
}
.names {
  display: inline-block;
  width: 50%;
}
.name {
  width: 15%;
  float: left;
  margin-right: 100px;
  margin-bottom: 15px;
  font-size: 25px;
}

.student {
  height: 30px;
  width: 1000px;
  border: solid 2px;
  display: inline-block;
}
.element {
  width: 25%;
  float: left;
}
.new {
  margin: auto;
}
.newstudent {
  font-size: 30px;
  border-radius: 5px;
  margin-top: 25px;
}

.delete {
  color: white;
  width: 100px;
  margin: auto;
  background-color: rgb(236, 18, 18);
  font-size: 16px;
}
.update {
  background-color: rgb(51, 168, 47);
  width: 100px;
  margin: auto;
  font-size: 16px;
}

.form {
  background-color: gray;
  height: 500px;
  width: 500px;
}
